%table.table
  %tr
    %th Start station
    %th Start time
    %th End station
    %th End time
    %th Carrier
    %th Cost
    %th Schedule

  - @schedules.each do |schedule|
    - next unless schedule[:schedule_by_days].present?
    %tr
      %td= schedule[:start_station]
      %td= schedule[:start_time]
      %td= schedule[:end_station]
      %td= schedule[:end_time]
      %td= schedule[:carrier]
      %td= schedule[:cost]
      %td= schedule_badges(schedule[:schedule_by_days])
