!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Busfor
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = nav_bar brand: "Schedule" do
      = menu_group do
        = menu_item "Trips", trips_path

    %div.container-fluid
      %div.row
        %div.col-sm-10.col-sm-offset-1
          = yield
